:root {
    --mainblue:#000A3b; 
    --white:#ffffff;
    --maintype: 'Gill Sans';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
}

header {
    padding: 20px;
    font-family: 'Gill Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--mainblue);
    color:var(--white);
    
}
header h1 {
        display: inline-block;
        font-size: 48px;
}

header nav {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;    
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding-top: 10px;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--mainblue);
    color: #ffffff;
} */
Section img{
 height: 250px:
}
/* 
p {
    font-size: 16px;
}



section h2{
    margin-bottom: 20px;
    font-size: 36px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}  */

.intro {
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../images/AGH-Texture.png");
    background-size: cover;
    background-position: center;
    background-color: #000A3B;
}
.leftborder {
    margin-left: 0px;
    clear: both;
    float: left;
    width: 222px;
    height: 100vh;
    /* background-image: url("../images/AGH-Texture.png"); */
    background-color:var(--mainblue);
}

.content {
    display: flex;
    flex: wrap;
    margin-top: 20px;
    padding: 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--mainblue);
    color: #ffffff;
}

.part {
    padding:100px 30px 100px 10px;

}

#seo {
    color: #d9dcd6;
} 

#gut {
    margin-left: 40px;
}
#lets{
    position: absolute;
    top: 223px;
    right: 30px;
    font-size: 14.5pt;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#digital{
    position: absolute;
    top: 240px;
    right: 30px;
    font-size:27pt;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#create{
    position: absolute;
    top: 275px;
    right: 30px;
    font-size:18pt;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pic{
      margin: 0 30px
}
#text{
   display: flex;
   align-items: center;

}

/* #out{
    color: var(--mainblue)
}
#try{
    position:absolute;
    
} */